@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
.maindiv {
  font-family: "Dosis";
  margin: 3% 3% 3% 3%;
  background-color: #dbcbbd;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}
.buttonAndPrice {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.name {
  font-size: 160%;
  color: #3c2a21;
  margin-left: 4%;
  width: 50%;
  padding-top: 30px;
  /* position: relative; */
  /* right: 20%; */
}
.price {
  font-size: 160%;
  color: #3c2a21;
  padding-top: 30px;
  margin-left: 40%;
  align-items: center;
}
.image {
  border-radius: 5px;
}
.vegNonVeg {
  margin-top: 3%;
  margin-left: 10px;
  width: 8%;
}
.button-div {
  align-items: center;
  font-size: 150%;
  margin-top: 50px;
}
.button {
  position: relative;
  left: 30%;
  font-size: 170%;
  width: 70px;
  height: 70px;
  background-color: #3c2a21;
  color: white;
  border: 0;
  margin: 0;
}
.bleft {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.bright {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
